*{
    box-sizing: border-box ;
  }
  body{
    background-color: #c9d;
  }
  /*CSS positioning lets you set how you want an element to be positioned
   in the browser. It has a position property you can set to static, 
  absolute, relative, sticky or fixed.*/
  /*Once you set the position property of the element, 
  you can move the element around by setting a pixel or a percentage value 
  for one or more of the top, right, left, or bottom properties.*/
  /*static is the default positioning for all elements. If you assign it to an element,
   you won't be able to move it around with top, right, left, or bottom.*/
   /*sticky positioning is a hybrid of relative and fixed positioning. It allows an element to stick to a specific position 
   within its containing element or viewport, based on the scroll position.*/
  .cat-head{
    position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  margin: auto;
    width: 205px;
    height: 180px;
    border: 1px solid #000;
    border-radius: 46%;
    background: linear-gradient(#5e5e5e 85%, #45454f 100%);
  }
  .cat-left-ear{
    border-left: 35px solid transparent;
    border-right: 35px solid transparent;
    border-bottom: 70px solid #5e5e5e;
    position: absolute;
top: -26px;
left: -31px;
border-top-left-radius: 90px;
  border-top-right-radius: 10px;
  /*The transform property allows you to modify the shape, position,
   and size of an element without changing the layout or affecting the surrounding elements. It has functions 
  such as translate(), rotate(), scale(), skew(), and matrix().*/
  transform: rotate(-45deg);
  z-index: 1;
  }
  .cat-right-ear{
    border-left: 35px solid transparent;
      border-right: 35px solid transparent;
      border-bottom: 70px solid #5e5e5e;
      position: absolute;
top: -26px;
left: 163px;
border-top-left-radius: 90px;
  border-top-right-radius: 10px;
  transform: rotate(45deg);
  /*z-index is a property you can use to define the order of overlapping HTML elements. 
  Any element with a higher z-index will 
  always be positioned over an element with a lower z-index.*/
  z-index: 1;
  }
  .cat-left-inner-ear{
    border-left:20px solid transparent;
    border-right:20px solid transparent;
    border-bottom: 40px solid #3b3b4f;
    position: absolute;
  top: 22px;
  left: -20px;
  border-bottom-left-radius: 40%;
  border-bottom-right-radius: 40%;
  border-top-right-radius: 10px;
  border-top-left-radius: 90px;
  }
  .cat-right-inner-ear{
    border-left:20px solid transparent;
    border-right:20px solid transparent;
    border-bottom: 40px solid #3b3b4f;
    position: absolute;
  top: 22px;
  left: -20px;
  border-bottom-left-radius: 40%;
  border-bottom-right-radius: 40%;
  border-top-right-radius: 10px;
  border-top-left-radius: 90px;
  }