*{
    box-sizing: border-box ;
  }
  body{
    background-color: #c9d;
  }
  /*CSS positioning lets you set how you want an element to be positioned
   in the browser. It has a position property you can set to static, 
  absolute, relative, sticky or fixed.*/
  /*Once you set the position property of the element, 
  you can move the element around by setting a pixel or a percentage value 
  for one or more of the top, right, left, or bottom properties.*/
  /*static is the default positioning for all elements. If you assign it to an element,
   you won't be able to move it around with top, right, left, or bottom.*/
  .cat-head{
    position: static;
    top: 100px;
    left: 100px;
    width: 205px;
    height: 180px;
    border: 1px solid #000;
    border-radius: 46%;
    background: linear-gradient(#a372e3 85%, #8e64a3 100%);
  }